.slider-carousel img {
    padding: 0 1rem;
}

@media (max-width: 480px) {

    .slider-carousel img {
        opacity: 0.6;
        transition: all 0.3s;
    }

    .slider-carousel .slick-current img {
        opacity: 1;
    }

    .slider-carousel img {
        opacity: 0.7;
        transition: all 0.3s ease;
        padding: 1.1rem;
    }

    .slider-carousel .slick-center img {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1;
        transform: scale(1.2);
    }
}